<style type="text/css">
html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
 font-family: "summit";
}

.nav {
   background-image: url("C:\Users\fcalle\Desktop\APCSP\problem-set-3.5\download.jpg");
   background: url("C:\Users\fcalle\Desktop\APCSP\problem-set-3.5\download.jpg")
}
</style>
